{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<p>Este trabalho foi realizado no âmbito da cadeira de Análise e Modelação de Sistemas</p>
<p>Mestrado Integrado em Engenharia de Computadores e Telemática</p>

<p><a href="https://mathsqr2.github.io/">Site do serviço</a>
<br><a href="https://github.com/MathSqr2/MathSqr2.github.io">Repositório do site</a>
<br><a href="https://github.com/Karkanius/HomeKeeper">Repositório da webapp</a>

<p>2018/19 - Universidade de Aveiro</p>

{% endblock %}
