{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>


<div class="container">
    <div id="products" class="row view-group">
        {% for x in database %}
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail card">
                    <div class="img-event">
                        <img class="group list-group-image img-fluid" width="400" height="250" src={{x.path}} alt="" />
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            {{ x[0].nome}}</h4>
                        <p class="group inner list-group-item-text">
                            {{ x[0].descricao}}
                        </p>
                        <h8 class="group card-title inner list-group-item-heading">
                            {{ x[1]}}</h8>
                        <h8 class="group card-title inner list-group-item-heading">
                            {{ x[2]}}</h8>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    {{ x[0].preco}}€/h
                                </p>
                            </div>
                        </div>
                        <form action="cancelarServico" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label for="id_name"></label>
                                <div class="col-md-offset-2 col-md-10">
                                    <input id=id_name name="name" type="submit" value=Cancelar-{{x[0].nome}} class="btn btn-default" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
